/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-user{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-search {
    width: 40px;
    height: 40px;
    stroke: #000;

}


ul {
    padding: 15px 0px 0px 0px ;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.icon-cart:hover{
    cursor: pointer;
}
.logo-title{
    display: flex;
}
.logo {
    width: 50px;
    padding: 2px;
    border-radius: 50%;

}
.title{
    padding: 5px;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    background-color: aquamarine;
}
header .link-tienda{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-TV{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-Moviles{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-Electrodomesticos{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}

.container-icon{
    display: flex;
    position: relative;
}


.botones-header{
    padding: 10px;
    border-radius: 15px;
}

/* Main */
.body{
    margin: auto;
    align-items: center;
    width: 1200px;
}
.container-items{
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-product a {
    text-align: center;
}

.price{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.info-product button{
    border-radius: 8px;
    background-color: #18479c;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.info-product a{
    text-decoration: none;
    color: #555;
}
