/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF1DC;
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-user{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-search {
    width: 40px;
    height: 40px;
    stroke: #000;

}


ul {
    padding: 15px 0px 0px 0px ;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.icon-cart:hover{
    cursor: pointer;
}

.title{
    font-family: 'Bruno Ace', cursive;
    font-size: x-large;
    padding-top: 10px;
}

img{
    max-width: 100%;
}

/* Header */
header{
    background-color: #3A98B9;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}
.logo-title{
    display: flex;
}
.logo {
    width: 50px;
    padding: 2px;
    border-radius: 50%;

}
header ul {
    list-style: none;
    display: flex;
}
header ul li {
    padding: 5px 30px;
}
header ul li a{
    text-decoration: none;
}
header .link-tienda{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-TV{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-Moviles{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
header .link-Electrodomesticos{
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}

.container-icon{
    display: flex;
    position: relative;
}


.botones-header{
    padding: 10px;
    border-radius: 15px;
}


/* Searcher */

.container {
	position: absolute;
	left: 85%;
	top: 6.3%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 40px;
	width: 0px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #D50000;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60px;
	height: 60px;
	background-color: rgb(127, 189, 255);
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 50px;
	transition: all .7s ease;
}

.container:hover input {
	width: 350px;
}

.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #cc0000;
}


.dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}
.dropdown__menu ul {
    display: block;
}







/* Main */
.body{
    margin: auto;
    align-items: center;
    max-width: 80vw;
}
.container-items{
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-product a {
    text-align: center;
}

.price{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.info-product button{
    border-radius: 8px;
    background-color: #18479c;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.info-product a{
    text-decoration: none;
    color: #555;
}


