/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* Header Superior*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3A98B9;
    z-index: 2;
    
}

.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header_superior .icon-cart{
    color: #FFF;
}
.icon-user{
    color: #FFF;
}

.logo-title{
    display: flex;
}
.logo-title a{
    text-decoration: none;
    color: #fffcfc;

}
.logo {
    width: 50px;
    padding: 2px;
    border-radius: 50%;

}
.title{
    font-family: 'Bruno Ace', cursive;
    font-size: x-large;
    padding-top: 10px;
    
}
.search{
    display: flex;
    border-radius: 10%;
    
}
.search input{
    width: 300px;
    padding: 10px;
    border: none;
}
.search .icon-search{
    padding: 10px;
    background-color: #005a9a;
    
}

.search .icon-search a{
    
    color: #FFF;
}

.container-icon{
    display: flex;
    
}
.container-icon div a{
    color: #FFF;
}
.container-icon .icon-user{
    padding-left: 100%;
}

/* Header Inferior */
ul {
    list-style-type: none;
}
.container__menu{
    width: 100%;
    height: 70px;
    background: #18479c;
    padding: 0 20px;
    font-family: 'Bruno Ace', cursive;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul {
    height: 100%;
    display: flex;
}
nav > ul > li{
    height: 100%;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Sub Menu*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: #0099e9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #0074c7;
    color: #FFF;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); 
}


/* ELEMENTOS REPONSIVE*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 800px){
    .search input{
        display: none;
    }
    .header_superior{
        padding: 10px;
    }
    .logo-title{
        width: 200px;
    }
    nav > ul {
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 90px;
    }
    nav > ul > li:hover ul{
        top: 50px;
    }
    #label__check{
        display: block;
    }
    .icon__menu{
        display: flex;
    }
    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    
    }
}





/* Slider */


.slider{
    width: 80vw;
    border-radius: 5%;
    margin: auto;
    overflow: hidden;
    padding-top: 8%;
    
    
    
}
.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width: 100vw;
    list-style: none;
}
.slider img {
    
    width: 100%;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* Main */
body{
    background-color: #FFF1DC;
    margin: 0 auto;
    font-family: 'Lato';
    color: #333;
}
.body{
    margin: auto;
    align-items: center;
    max-width: 80vw;
}
.container-items{
    padding-top: 11%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 4rem;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-product a {
    text-align: center;
}

.price{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.info-product button{
    border-radius: 8px;
    background-color: #18479c;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

.info-product a{
    text-decoration: none;
    color: #555;
}

.botonesmain{
    padding-top: 3%;
    padding-bottom: 3%;
}
.botonesmain button{
    padding: 20px;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    z-index: 2;
    box-shadow: 6px 6px 12px #0074c7;
    
     
}


/* Inicio de sesión */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background: url(./multimedia/fondo-electroverse-provisorio.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-title{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #FFF;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.boton-login{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

/* FOOTER */
footer{
    background-color: #3A98B9;
    position: static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
footer ul{
    list-style-type: none;
}

.footer-center ul{
    align-items: center;
}
.footer-center h2{
    justify-content: center;
    align-items: center;

}


